<%- include('header') -%>


 <!--navbar-->
 <nav class="navbar navbar-expand-lg navbar-light  container-fluid border-bottom border-warning border-2 bg-light shadow position-fixed fixed-top">
    <div class="container fluid ">
      <img src="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item font-weight mt-2" style="margin-right: 3vw;">
           <a href="/userprofile"><button type="submit" class="btn btn-warning btn-block "  >My Account</button></a> 
          </li>
          <li class="nav-item">
            <a class="nav-link active navbar-text text-black" aria-current="page" href="/userhome">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-text text-black" href="#">Blogs</a>
         
          <li class="nav-item">
            <a class="nav-link navbar-text text-black" href="/logout">Log Out</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-text text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contact
            </a>
            <ul class="dropdown-menu navbar-text text-black" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Mobile</a></li>
              <li><a class="dropdown-item" href="#">965847123</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Email</a></li>
              <li><a class="dropdown-item" href="#">tastytreasure@gmail.com</a></li>
            </ul>
         
        </ul>
        <form class="d-flex" action="/searchproducts" method="GET">
            <input class="form-control me-2 outline-warnin" type="search" name="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-warning" type="submit">Search</button>
            
            
        </form>

        
      </div>

      
    </div>
  
  </nav>
   

  


    <!-- Sidebar -->
     
  
    
      <div class="full bg-image" style="background-image: url(https://png.pngtree.com/background/20210710/original/pngtree-fast-food-light-yellow-hamburger-coke-chips-hot-coffee-tomato-sauce-picture-image_981064.jpg); background-size: cover; background-repeat: no-repeat; overflow-y: auto;">


            
        <div class="sidebar active">
            <h2><i class="fa fa-user-circle border-bottom border-black"></i> <%= userData.first_name %></h2>
          
            
              <a href="/userhome"><i class="fa fa-fw fa-home"></i> Home</a>
              <a href="/addproducts"><i class="fa fa-fw fa-shopping-cart"></i>Wish List</a>
              
              <a href="/userordertable"><i class="fa fa-fw fa-shopping-cart"></i>Orders</a>
              <a href="#contact"><i class="fa fa-fw fa-exchange"></i> Transactions</a>
              <a href="/addadress"><i class="fa fa-fw fa-tag"></i> Adress</a>
              <a href="/resetpassword"><i class="fa fa-fw fa-bar-chart"></i>Password</a>
              <a href="/edituserprofile"><i class="fa fa-fw fa-user"></i> Edit Profile</a>

          </div>




          <!-- centre form -->
         
          <div class="container " style="min-height: 100vh; position: relative; top: 10%;">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="card mb-4 fonts border-0" style="background: transparent;">
                  <div class="card-body " style="background: transparent;">
        <div class="col-lg-8 ">
          <div class="card mb-4">
            <div class="card-body" style="background-color:#FFF0D4;box-shadow: 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2); ">
              <div class="row">
                <div class="col-sm-3">
                    <form action="/edituserprofile" method="post">
                  <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-9">
                    <input class="text-black mb-0 custominput" name="firstname" value="<%= userData.first_name %>">
                  
                </div>
                <br>
                <div class="col-sm-3">
                  
                    <p class="mb-0 mt-3">Second Name</p>
                  </div>
                  <div class="col-sm-9">
                      <input class="text-black mb-0 custominput mt-3" name="secondname" value="<%= userData.second_name %>">
                    
                  </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0 mt-3">Email</p>
                </div>
                <div class="col-sm-9">
                    <input class="text-black mb-0 custominput mt-3" type="email" name="email" value="<%= userData.email %>">
                </div>
              </div>
              <hr>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0 mt-3">Mobile</p>
                </div>
                <div class="col-sm-9">
                    <input class="text-black mb-0 custominput mt-3" name="mobile" value="<%= userData.mobile %>">
                    
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-12 text-center">
                  <button class="btn btn-outline-dark" type="submit">Submit</button>
                </div>
                <h3><%= message %></h3>
              </div>
              
              <hr>
          
            </div></form>
          </div>  
             
            
           
            
        
        


        <style>
          .btn-hover-effect:hover {
              background-color: black/* Your hover background color */;
              color: white/* Your hover text color */;
              /* Add any other styles for the hover effect */
          }
          </style>


<%- include('footer') -%>